[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "/home/john/.vim/bundle/vim-windowswap"]
	path = /home/john/.vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
